In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('C:/Users/Humaina/Downloads/titanic (1)/train.csv')

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
df.drop(['Age','Cabin'],inplace=True,axis='columns')

In [7]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [11]:
x=df.drop(['Survived','Name','Ticket'],axis='columns')

In [12]:
y=df.Survived

In [13]:
x.head()

   PassengerId  Pclass     Sex  SibSp  Parch     Fare Embarked
0            1       3    male      1      0   7.2500        S
1            2       1  female      1      0  71.2833        C
2            3       3  female      0      0   7.9250        S
3            4       1  female      1      0  53.1000        S
4            5       3    male      0      0   8.0500        S

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
Sex_le=LabelEncoder()
Fare_le=LabelEncoder()
Embarked_le=LabelEncoder()

In [19]:
x['Sex_deg']=Sex_le.fit_transform(df['Sex'])

In [20]:
x['Fare_deg']=Fare_le.fit_transform(df['Fare'])

In [21]:
x['Emabrked_deg']=Embarked_le.fit_transform(df['Embarked'])

In [23]:
x.drop(['Sex','Fare','Embarked'],axis='columns',inplace=True)

In [24]:
x

     PassengerId  Pclass  SibSp  Parch  Sex_deg  Fare_deg  Emabrked_deg
0              1       3      1      0        1        18             2
1              2       1      1      0        0       207             0
2              3       3      0      0        0        41             2
3              4       1      1      0        0       189             2
4              5       3      0      0        1        43             2
..           ...     ...    ...    ...      ...       ...           ...
886          887       2      0      0        1        85             2
887          888       1      0      0        0       153             2
888          889       3      1      2        0       131             2
889          890       1      0      0        1       153             0
890          891       3      0      0        1        30             1

[891 rows x 7 columns]

In [25]:
from sklearn import tree

In [26]:
model=tree.DecisionTreeClassifier()

In [27]:
model.fit(x,y)

DecisionTreeClassifier()

In [28]:
model.score(x,y)

1.0